<div class="container">
    <div class="logo">
        <img src="../assets/img/Logo.svg" alt="">
    </div>

    <div class="content">
        <div class="tickets">
            <div class="filtr">
                <div class="filtr_header">
                    КОЛИЧЕСТВО ПЕРЕСАДОК
                </div>
                <div class="check">
                    <input type="checkbox" id="all" [(ngModel)]="filtr_numTransfer.all" (change)="setFilterAll()">
                    <label for="all">Все</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="without" [(ngModel)]="filtr_numTransfer.without" (change)="setFilterWithout()">
                    <label for="without">Без пересадок</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="one" [(ngModel)]="filtr_numTransfer.one" (change)="setFilterOne()">
                    <label for="one">1 пересадка</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="two" [(ngModel)]="filtr_numTransfer.two" (change)="setFilterTwo()">
                    <label for="two">2 пересадки</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="three" [(ngModel)]="filtr_numTransfer.three" (change)="setFilterThree()">
                    <label for="three">3 пересадки</label>
                </div>
            </div>
            <div>
                <button class='btn b1' #b1 (click)="sortForPrice()">САМЫЙ ДЕШЕВЫЙ</button>
                <button class='btn b2' #b2 (click)="sortForDuration()">САМЫЙ БЫСТРЫЙ</button>
                <button class='btn b3 active' #b3 (click)="optimal()" >ОПТИМАЛЬНЫЙ</button>
            
                <my-ticket *ngFor="let ticket of tickets | slice:0:numTicketsOnScreen"
                    [ticket]="ticket">
                </my-ticket>
                <button class='btn show' (click)="addNumTicketsOnScreen()">ПОКАЗАТЬ ЕЩЕ 5 БИЛЕТОВ!</button>
            </div>
        </div>
    </div>
</div>
