<div class="body">
    <header></header>
</div>

<div class="container">
    <div class="body content contant1">
        <div class="inf">
            <div class="hello">
                Привет. Я Матыкина Анна. <br>
                Фронтенд разработчик.
            </div>
            <div class="explanation">
                Я фронтенд разработчик в команде <a href="https://cult.shop/" target="_blank">cult.shop</a>.<br> 
                В работе я использую Vue.js и свободное время
                <a href="mysite/studying">изучаю Angular</a>.
            </div> 
            <div class="network">
                <a class="t" href="https://t.me/amatykina" target="_blank"></a>
                <a class="g" href="https://github.com/MatykinaAnna" target="_blank"></a>
                <a class="m" href="mailto:matykina2000@gmail.com"></a>
            </div>
        </div>
        <div class="main_photo">
            <div class="photo">
            </div>
        </div>
    </div>
</div>